<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Frontend Mentor | Order summary card</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="./assets/images/favicon.png" />
    <link rel="stylesheet" href="./main.css" />
  </head>
  <body>
    <main>
      <section class="order">
        <header class="order_header">
          <img
            src="./assets/images/illustration-hero.svg"
            alt="Illustration Image"
          />
        </header>
        <div class="order_body">
          <h1 class="order_title">Order Summary</h1>
          <p class="order_description">
            You can now listen to millions of songs, audiobooks, and podcasts on
            any device anywhere you like!
          </p>
          <div class="order_details">
            <div class="details_left">
              <img src="./assets/images/icon-music.svg" alt="Music Icon" />
              <div class="details_left--plan">
                <h2 class="plan-name">Annual Plan</h2>
                <span class="plan-price">$59.99/year</span>
              </div>
            </div>
            <a href="#">Change</a>
          </div>
          <button type="button">Proceed to Payment</button>
          <a href="#">Cancel Order</a>
        </div>
      </section>
    </main>
  </body>
</html>
