<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Frontend Mentor | NFT preview card component</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="./assets/images/favicon.png" />
    <link rel="stylesheet" href="./main.css" />
  </head>
  <body>
    <main>
      <section class="card">
        <div class="card_image">
          <img src="./assets/images/equilibrium.jpg" alt="Equilibrium Image" />
          <div>
            <img src="./assets/images/icon-view.svg" alt="View Icon" />
          </div>
        </div>
        <h1 class="card_title">Equilibrium #3429</h1>
        <p class="card_description">
          Our Equilibrium collection promotes balance and calm.
        </p>
        <div class="card_details">
          <div class="details_left">
            <img src="./assets/images/icon-ethereum.svg" alt="Ethereum Icon" />
            <span>0.041ETH</span>
          </div>
          <div class="details_right">
            <img src="./assets/images/icon-clock.svg" alt="Clock Icon" />
            <span>3 days left</span>
          </div>
        </div>
        <hr class="card_seprator" />
        <div class="card_author">
          <img src="./assets/images/profile.png" alt="User Image" />
          <p>Creation of <a href="#">Jules Wyvern</a></p>
        </div>
      </section>
    </main>
  </body>
</html>
